*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
p{
    margin: 0;
}
h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    margin-bottom: 20px;  
}
header{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
header h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}
main{
    display: flex;
}
section{
    flex: 70%;
    padding: 40px 20px;
}
section p{
    margin-bottom: 20px;
}
section div{
    margin-bottom: 20px;
}
aside{
    border-left: 1px solid lightgray;
    flex: 30%;
    height: calc(100vh - 340px);
    padding: 40px 20px;
}
aside p, ul, ol{
    margin-bottom: 20px;
}
footer{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid lightgray;
}
@media screen and (max-width: 1200px) {
    header{
        height: 150px;
    }
    aside{
        height: calc(100vh - 190px);
        flex: 50%;
    }
    section{
        flex: 50%;
    }
}
@media screen and (max-width: 700px) {
    header h1{
        font-size: 30px;
    }
    h3{
        font-size: 20px;
    }
    p,ul,ol{
        font-size: 14px;
    }
    aside{
        flex: 100%;
        height: auto;
        padding: 20px 10px 0;
    }
    section{
        flex: 100%;
        order: 1;
        padding: 20px 10px;
    }
    main{
        flex-wrap: wrap;
    }
    section p:nth-last-of-type(-n+2){
        display: none;
    }
}